
/**
 * IIS Colors
 * Version 1.0
 * 
 * Hex values from http://brandbook.iis.se/iis/ with some nuance additions and social media colors.
 */

$facebook:  #3b5998;
$twitter:   #55acee;
$instagram: #bc2a8d;
$linkedin:  #0077b5;
$pinterest: #d4002a;

// -----------------

$white:   #fff;
$black:   #000;

$gray-10: #191919;
$gray-20: #333;
$gray-30: #4c4c4c;
$gray-40: #666;
$gray-50: #7f7f7f;
$gray-60: #999;
$gray-70: #b2b2b2;
$gray-80: #ccc;
$gray-90: #e5e5e5;
$gray-95: #f2f2f2;

$blue-10:  #050d13;
$blue-20:  #0a1a26;
$blue-30:  #0f283a;
$blue-40:  #14354c;
$blue-50:  #194260;
$blue-60:  #1e4f73;
$blue-70:  #235d86;
$blue-80:  #286a99;
$blue-90:  #2d77ac;
$blue:     #3284bf;
$blue-110: #4690c5;
$blue-120: #5b9dcc;
$blue-130: #6fa9d2;
$blue-140: #84b5d9;
$blue-150: #98c1df;
$blue-160: #adcee5;
$blue-170: #c1daec;
$blue-180: #d6e6f2;
$blue-190: #eaf2f8;

$yellow-10:  #1a1700;
$yellow-20:  #332d00;
$yellow-30:  #4d4400;
$yellow-40:  #665a00;
$yellow-50:  #807100;
$yellow-60:  #998700;
$yellow-70:  #b39e00;
$yellow-80:  #ccb400;
$yellow-90:  #e6cb00;
$yellow:     #ffe100;
$yellow-110: #ffe419;
$yellow-120: #ffe733;
$yellow-130: #ffea4c;
$yellow-140: #ffed66;
$yellow-150: #fff07f;
$yellow-160: #fff399;
$yellow-170: #fff6b2;
$yellow-180: #fff9cc;
$yellow-190: #fffce5;

$green:     #34b233;
$green-110: #48ba47;
$green-120: #5dc15c;
$green-130: #71c970;
$green-140: #85d185;
$green-150: #99d899;
$green-160: #aee0ad;
$green-170: #c2e8c1;
$green-180: #d6f0d6;
$green-190: #eaf7ea;

$red:     #e00034;
$red-110: #e31948;
$red-120: #e6335d;
$red-130: #e94c71;
$red-140: #ec6685;
$red-150: #ef7f99;
$red-160: #f399ae;
$red-170: #f6b2c2;
$red-180: #f9ccd6;
$red-190: #fce5ea;

$orange:     #ff7900;
$orange-110: #ff8619;
$orange-120: #ff9433;
$orange-130: #ffa14c;
$orange-140: #ffaf66;
$orange-150: #ffbc7f;
$orange-160: #ffc999;
$orange-170: #ffd7b2;
$orange-180: #ffe4cc;
$orange-190: #fff1e5;

$purple: #80379b;
$pink: #e0249a;
