
/**
 * IIS Icon Variables
 * Version 1.0
 * 
 * Used together with _iis-icons.scss.
 */

$iis-icons-agreement: '\e900';
$iis-icons-arrow-down: '\e901';
$iis-icons-arrow-left: '\e902';
$iis-icons-arrow-right: '\e903';
$iis-icons-arrow-up: '\e904';
$iis-icons-arrow: '\e905';
$iis-icons-big-community: '\e906';
$iis-icons-big-laptop: '\e907';
$iis-icons-bolt: '\e908';
$iis-icons-calendar: '\e909';
$iis-icons-cc-attribution: '\e90a';
$iis-icons-cc-no-dervis: '\e90b';
$iis-icons-cc-non-commercial: '\e90c';
$iis-icons-checkbox: '\e90d';
$iis-icons-clock: '\e90e';
$iis-icons-cloud-services: '\e90f';
$iis-icons-cloud: '\e910';
$iis-icons-connect-service: '\e911';
$iis-icons-database: '\e912';
$iis-icons-desktop: '\e913';
$iis-icons-document: '\e914';
$iis-icons-double-arrow-down: '\e915';
$iis-icons-double-arrow-left: '\e916';
$iis-icons-double-arrow-right: '\e917';
$iis-icons-double-arrow-up: '\e918';
$iis-icons-e-sevice: '\e919';
$iis-icons-exclamation-triangle: '\e91a';
$iis-icons-external-link: '\e91b';
$iis-icons-facebook: '\e91c';
$iis-icons-federation: '\e91d';
$iis-icons-get-technical: '\e91e';
$iis-icons-go-on: '\e91f';
$iis-icons-heart: '\e920';
$iis-icons-home: '\e921';
$iis-icons-id: '\e922';
$iis-icons-idea: '\e923';
$iis-icons-idp: '\e924';
$iis-icons-info: '\e925';
$iis-icons-instagram: '\e926';
$iis-icons-key: '\e927';
$iis-icons-laptop: '\e928';
$iis-icons-letter: '\e929';
$iis-icons-loading: '\e92a';
$iis-icons-logo: '\e92b';
$iis-icons-menu: '\e92c';
$iis-icons-metadata: '\e92d';
$iis-icons-minus: '\e92e';
$iis-icons-mobile: '\e92f';
$iis-icons-office: '\e930';
$iis-icons-one-service: '\e931';
$iis-icons-open-menu: '\e932';
$iis-icons-pencil: '\e933';
$iis-icons-pin: '\e934';
$iis-icons-plus: '\e935';
$iis-icons-portal: '\e936';
$iis-icons-questionmark-circle: '\e937';
$iis-icons-read-more: '\e938';
$iis-icons-search: '\e939';
$iis-icons-sector: '\e93a';
$iis-icons-server: '\e93b';
$iis-icons-service: '\e93c';
$iis-icons-share: '\e93d';
$iis-icons-sign-up: '\e93e';
$iis-icons-small-communities: '\e93f';
$iis-icons-sp: '\e940';
$iis-icons-testimonial: '\e941';
$iis-icons-text-bubble: '\e942';
$iis-icons-touchpad: '\e943';
$iis-icons-twitter: '\e944';
$iis-icons-user-label: '\e945';
$iis-icons-user-org: '\e946';
$iis-icons-user: '\e947';
